body {
    margin: 0 auto;
    max-width: 80%;
    font-family: sans-serif;
    height: 100px;

}
.left {
    float: left;
    
    
}
nav { float: right;
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

} 



nav a { text-decoration: none;
    padding: 6px 0;
    margin-left:0;
    color: #9622e4;

      
      
}

.clear {
    clear: both;
}
.color1{
    background-color: #F18D9E;
}
.color2{
    background-color: #A0522D;
}
.color3{
    background-color: #8FBC8F;
}
.color4{
    background-color: #2D5DCC;
}
.color5{
    background-color: #EFD9CA;
}
.color6{
    background-color: #4FE0B0;
}
a{
    text-decoration: none;
}
.container
{
    border: 1px solid #2c553c;
    margin: 10px auto;
    padding: 20px;
    width: 100%;   
    
}

.colorbox{
    display: inline-block;
    
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}
.main-font{
    font-size: large;
}
.bold-text{
    font-weight: bold;
}
.italic-text{
    font-style: italic;
}
.underline {
    text-decoration: underline;

}
.font-styles{
    display: inline-block;
    width:45%;
    text-align: left;
}
.estonia {
    font-family: Estonia, sans-serif;
}
.open-sans {
    font-family: "Open Sans", serif;
}
.roboto-mono {
    font-family: "Roboto Mono", sans-serif;
}
.praise {
    font-family: "Praise", serif;
}
#text-styles{
    font-family: 'Nunito Sans', sans-serif;
}

.text-styles h1{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700 (bold);
    font-size: 26px;

}
.text-styles h2{
    font-family: 'EB Garamond', serif;
    font-weight: 500(bold);
    font-size: 18px;
}
.text-styles p{
    font-family: 'Roboto', serif;
    font-size: 14px;
    font-weight: 400;
}
.button-style{
    
    width: 100%;
}
.button{
    height: 40px;
    width: 100px;
    margin: 4%;
    font-weight: bolder; }
.primary{
        border-radius: 5px;
        background-color: rgb(33, 21, 209);
        color: #fff;
        padding: 10px;
        transition: all 0.4s ease 0s;
        border:none;
        width: 80px;

        
    }
    
    
.secondary{
        border-radius: 5px;
        background-color: #626b69;
        color: #fff;
        padding: 10px;
        transition: all 0.4s ease 0s;
        border: none;
        cursor: pointer;
        width: 100px;
    }
    
.success{
        border-radius: 5px;;
        background-color: rgb(13, 196, 13);
        color: #fff;
        padding: 10px;
        border: none;
        cursor: pointer;
        width:75px;
    }
    
.danger{
        border-radius: 5px;
        color: hsl(189, 33%, 96%);
        padding: 10px;
        transition: all 0.4s ease 0s;
        cursor: pointer;
        width:75px;
        background-color: #ec300f;
        
    }

.warning{
        border-radius: 5px;
        background-color: #e09813;
        color: rgb(12, 9, 9);
        padding: 10px;
        border: none;
        cursor: pointer;
        width: 80px;
        
    }
    
.info{
        border-radius: 5px;
        background-color: rgb(36, 138, 163);
        color: #fff;
        padding: 10px;
        border: none;
        cursor: pointer;
        width: 50px;
    }
.light{
        border-radius: 5px;
        background-color: rgb(237, 243, 245);
        color: rgb(7, 7, 7);
        padding: 10px;
        border: none;
        cursor: pointer;
        width: 60px;
    }
.dark{
        border-radius: 5px;
        background-color: rgb(4, 5, 5);
        color: #fff;
        padding: 10px;
        border: none;
        cursor: pointer;
        width: 60px;
    }
.link{
        border-radius: 5px;
        background-color: rgb(247, 251, 252);
        color: rgb(58, 133, 245);
        padding: 10px;
        border: none;
        cursor: pointer;
        width: 60px;
    }

